{:paths ["src"]
 :deps {metosin/ring-swagger {:mvn/version "0.26.2"}
        metosin/schema-tools {:mvn/version "0.13.1"}
        org.clojure/clojure {:mvn/version "1.11.3"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        prismatic/schema {:mvn/version "1.4.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {;; test runner
                               io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               ;; dev deps
                               org.clojure/test.check {:mvn/version "1.1.1"}
                               cheshire/cheshire {:mvn/version "5.13.0"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
